html, body {
background-color: #D9D9D9;
  

  margin: 0;
  padding: 0;
}

header{
  background-color: #A9A9A9;
  position: sticky ;
}
  
canvas {
  display: block;
  
  
}
  



hr{
  color: rgb(245, 0, 0);
}
blockquote{
  max-width: 600px;
  margin: 10px 30px;
  padding: 25px;
  border: 1px solid;
  box-sizing: border-box;
}
image{
  height: auto;
  width: auto;
  object-position: top;
}
footer{
  
  text-align: center;
}
.column {
  float: left;
  width: 50%;
  padding: 5px;
  
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}
p{
 text-align:right;

 
}